/Web/SportsItemsStore.WebUI/obj
/Web/SportsItemsStore.Domain/obj
/Web/SportsItemsStore.Test/obj
/Web/SportsItemsStore.Test/bin
/Web/SportsItemsStore.v11.suo
/Web/SportsItemsStore.Test/*.user
/Web/TestResults
/Web/SportsItemsStore.WebUI.Test/bin
/Web/SportsItemsStore.WebUI.Test/obj
/Web/SportsItemsStore.Domain/bin
/Web/SportsItemsStore.WebUI.Test/*.user
